/*
Author: Vu Phan
*/

.page-header {
	width: 100%;
}

.header-bg {
	background-color: rgba(124,178,40,0.9);
}

.header-wrap {
	max-width: 1024px;
	
	margin: 0 auto;
	padding: 0 14px;
	position: initial;
	display: flex;
	line-height: 42px;
}

.header-logo {
	align-self: center;
	line-height: 42px;
	float: left;
}

.header-logo img {
	outline: none;
	background-position: 0px -105px;
    width: 122px;
    height: 26px;
    vertical-align: middle;
}



.header-menu {
	float: right;
	display: inline-block;
	justify-content: space-between;
	padding: 0 28px;
}

.header__menu-nav {
	text-align: right;
	order: 1;
	font-size: 0;
	padding: 0 38px;
	float: left;
}

.header__menu-nav > ul {
	padding: 0;
	list-style: none;
	/*display: block;*/
	overflow: hidden;
	float: left;
}

.header__menu-nav > ul li {
	float: left;
	display: inline-block;
	margin: 0;
	font-size: 14px;
}

.header__menu-nav > ul li a {
	display: inline-block;
	padding: 0 14px;
	line-height: 42px;
}

.header__menu-nav > ul li a:hover {
	background-color: rgba(110,150,35,0.9);
}

.header__menu-nav > ul li.active a span {
	padding-bottom: 3px;
	border-bottom: 2px solid white;
}

.header__menu-nav > ul li a span {
	cursor: pointer;
	color: #f0f6ed;
}

.header__menu-employer {
	order: 2;
	line-height: 42px;
	text-align: center;
	color: #fff;
	display: inline-block;
	float: center;
	padding: 0 14px;
}

.header__menu-employer > span {
	padding: 0;
	display: inline-block;

}

.header__item--margin-right {
	margin-right: 7px;
}

.header__item--margin-left {
	margin-left: 7px;
}

.header__menu-employer .header__divider {
	color: #ccc;
    font-weight: lighter;
}

.header__menu-user {
	order: 3;
	line-height: 42px;
	float: right;
	padding: 0 34px;
}






















/*------------------------------------------------*/




/*.header a, 
.header a:hover {
	text-decoration: none;
}
.header_bg {
	background: rgba(124,178,40,0.9);
}

.wrap {
	margin: 0 auto;
	width:80%;
}

.header {
	padding: 2%;
	width: 100%;
	flex-direction: column;
	line-height: 42px;
	min-height: 42px;
	z-index: 2000;
}

.logo {
	float: left;
}

.menu {
	float: right;
	order: 1;
	color: white;
}

.menu li {
	display: inline-block;
	margin: 6px 20px;
}

.menu li a span {
	display: block;
	color: #f0f6ed;
	line-height: 1.2em;
	text-transform: capitalize;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding-bottom: 
}

.header_menu > ul li.active a span {
	padding-bottom: 3px;
	border-bottom: 2px solid white;
}

.header_menu > ul li a {
	display: inline-block;
	padding: 0 14px;
	line-height: 42px;
}

.header_menu > ul li {
	display: inline-block;
	margin: 0;
	font-size: 14px;
}

.header_menu > ul {
	padding: 0;
	list-style: none;
	display: block;
}

.header_menu li.active a {
	color: #52ABDF;

}

.header_menu li a:hover {
	color: #52ABDF;
}

.header__menu-employer {
	order: 2;
	float: right;
}

.users_menu {
	order: 3;
	float: right;
	flex: 0 auto;
	margin: 6px 20px;
	line-height: 42px;
	
}

*/