html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-family: "Helvetica neue", HelveticaNeue, Helvetica, Arial, sans-serif;
 	vertical-align: baseline;
 	position: relative;
 	color: #404040;
 	line-height: 1.2em;
 }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
blockquote,
q{
	quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start editing from here */
a {
	text-decoration: none;
}

/* text align right */
.txt-rt {
	text-align: right;
}

/* text align left */
.txt-lt{
	text-align: left;
}

/*text align center*/
.txt-center {
	text-align: center;
}

/*float right*/
.float-rt {
	float: right;
}

/*float left*/
.float-lt {
	float: left;
}

/*clear float*/
.clear{
	clear: both;
}

/* Position Relative */
.pos-relative {
	position: relative;
}

/* Position Absolute */
.pos-absolute {
	position: absolute;
}

/* vertical align baseline */
.vertical-base {	
	vertical-align: baseline;
}

/* vertical align top */
.vertical-top {	
	vertical-align: top;
}

/* Add 5px bottom padding and a underline */
.underline {	
	padding-bottom:5px;	
	border-bottom: 1px solid #eee;
	margin:0 0 20px 0;
}

/* vertical menu */
nav.vertical ul li {	
	display: block;
}

/* horizontal menu */
nav.horizontal ul li {	
	display: inline-block;
}

img {
	max-width: 100%;
}

body{
	font-family: "Helvetica neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	background-color: #eaeaea;
	font-size: 14px;
	position: relative;
	margin: 0;
	color: #404040;
	line-height: 1.2em;
	box-sizing: border-box;
	padding: 0;
}

span, a {
	cursor: pointer;
    color: #f0f6ed;
}

a:hover {
	text-decoration: none;
}
