/*----------------------------- Slider Style ----------------------------------*/

.images-slider {
	height: auto;
	position: relative;
	padding: 0;
}

.fwslider {
	position: relative;
    width: 100%;
    height: 453px;
}

.slider-container {
	position: relative;
    width: 100%;
    height: 100%;
}

.slider_content {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 650px;
}

.slide img {
    width: 100%;
    height: 453px;
}

.slide-prev {
    position: absolute;
    top: 40%;
    left: -50px;
    
    z-index: 10;
}

.slide-prev span {
	background-image: url("../../images/sitewide.png");
	width: 33px;
    height: 61px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0px -131px;
    float: left;
    left: 60px;
}

.slide-next {
    position: absolute;
    top: 40%;
    right: -50px;
    z-index: 10;
}

.slide-next span {
 	background-image: url("../../images/sitewide.png");
	width: 33px;
    height: 61px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: -33px -131px;
    float: left;
    right: 60px;
}

/*.slide-btns{
	margin-top: 0.5em;
}*/

.slide_content {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 650px;
}

.slide_content_wrap { /* Slider Text Content Container Style */
    max-width: 1280px;
    margin: 13.5% auto 0;
}

.header__search-box {
	display: table;
	width: 100%;
	height: 453px;
	padding-bottom: 125px;
	margin-bottom: -453px
	position: relative;
    margin-top: -450px;
    z-index: 999;
}

.header__search-box-cell {
	text-align: center;
	vertical-align: middle;
}

.header__search-box-content {
	width: auto;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	padding: 28px;
	z-index: 100;
	background: linear-gradient(200deg, rgba(124,178,40,0.9) 0%, rgba(80,179,226,0.9) 100%);
	box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
}

.header__search-box-content h1 {
	color: white;
	margin: 0 0 28px 0;
	font-size: 32px;
	font-weight: lighter;
	line-height: 1em;
}

.header__search-box-content form {
	padding: 0;
}

.images-slider form {
	position: relative;
	width: auto;
	max-width: 1024px;
	margin: 0 auto;
	padding: 14px 0 0;
	text-align: center;
	white-space: nowrap;
}

.cell {
	display: table-cell;
    float: none !important;
}

.slide__search-bar .slide__search-bar--container-form {
    height: 100%;
}

.slide__search-bar form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

