/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.wrap {
		width: 85%;
	}
	.span_of_2 {
		padding: 3% 0;
		margin: 4% 0;
	}
	.menu li {
		margin: 6px 16px;
	}
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.menu li {
		margin: 6px 12px;
	}
	.booking_room h4 {
		font-size: 1.2em;
	}
	.booking_room p {
		font-size: 0.8125em;
	}
	.footer_nav li {
		margin-left: 10px;
	}
}