@media only screen and (max-width: 640px){
	.wrap {
		width: 95%;
	}
	.logo {
		width: 32.333333%;
	}
	.h_right {
		width: 60.333333%;
	}
	.row .grid_3 {
		width: 70.333333% !important;
	}
	.reservation ul li.span1_of_1 {
		width: 100%;
	}
	.row .grid_3 {
		width: 70.333333% !important;
	}
	.book_date input[type="text"] {
		width: 96% !important;
	}
	.reservation ul li.left {
		margin-left: 0px;
	}
	.reservation ul li.span1_of_2 {
		width: 49.33333%;
	}
	.reservation ul li.span1_of_3 {
		width: 47.33333%;
		margin-left: 10px;
	}
	.grid1_of_3 {
		float: left;
		width: 100%;
		margin-left: 0%;
	}
	.grid1_of_3 h4 a {
		margin: 2% 0;
	}
	.grid1_of_3 img{
		margin-top:4%;
		width: 100%;
	}
	.online_reservation {
		margin-top: -30px;
	}
	.reservation ul li.span1_of_2 {
		width: 48.33333%;
	}
	.res_btn form input[type="submit"] {
		width: 50% !important;
		padding: 10px;
	}
	.contact_left {
		float: none;
		margin-right: 0%;
		width: 100%;
	}
	.contact_right {
		float: none;
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	.wrap {
		width: 95%;
	}
	.logo {
		width: 32.333333%;
	}
	.h_right{
		width:60.333333%;
	}
	.row .grid_3 {
		width: 70.333333% !important;
	}
	.online_reservation {
		margin-top: 0px;
	}
	.date_btn {
		margin: 0 0 20px;
	}
}
@media only screen and (max-width: 320px) {
	.wrap {
		width: 95%;
	}
	.logo {
		margin-top:10px;
		width: 38.333333%;
	}
	.h_right {
		width:60.333333%;
	}
	.row .grid_3 {
		width: 70.333333% !important;
	}
	.reservation {
		padding: 10px;
		width: 97%;
	}
	.booking_room {
		width: 97%;
		padding: 10px;
	}
	.hide {
		display: none;
	}
	.reservation ul li.span1_of_2 {
		width: 100%;
	}
	.reservation ul li.span1_of_3 {
		width: 100%;
		margin-left: 0px;
	}
	.book_date input[type="text"] {
		width: 93% !important;
	}
	.soc_icons ul li {
		margin-left: 0px;
	}
	.grids_of_img {
		float: none;
		width: 100%;
	}
	.grids_of_para {
		float: none;
		width: 100%;
		margin-left: 0%;
	}
	.span2_of_1 {
		float: none;
		width: 100%;
		margin-left: 0%;
	}
	.res_btn form input[type="submit"] {
		width: 60% !important;
		padding: 10px;
	}
	.service_list li {
		float:none;	
		margin-left:0;
		width: 100%;
		margin-bottom: 4%;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 93% !important;
	}
	.contact-form input[type="submit"] {
		padding: 10px;
		width: 50% !important;
	}
}
